nvim
autostart
baidunetdisk
chromium
chromium-flags.conf
coc
configstore
dconf
dlv
Electron
fcitx
fish
fontconfig
go
google-chrome
gtk-3.0
libfm
mimeapps.list
Motrix
mpv
neofetch
netease-cloud-music
pcmanfm
polybar
procps
QtProject.conf
qv2ray
variety
VirtualBox
vlc
XMind
