deepin
autostart
baidunetdisk
chromium
chromium-flags.conf
coc
configstore
dconf
dlv
Electron
fcitx
fish
fontconfig
go
google-chrome
gtk-3.0
libfm
mimeapps.list
Motrix
mpv
neofetch
netease-cloud-music
pcmanfm
polybar
procps
QtProject.conf
qv2ray
variety
VirtualBox
vlc
XMind

autostart
baidunetdisk
cef_user_data
chromium
chromium-flags.conf
clash
clash_win
coc
code-oss
Code - OSS
configstore
dconf
dlv
Electron
Element
fcitx
fish
flameshot
fontconfig
Francophonie
fyne
go
google-chrome
google-chrome-beta
gtk-2.0
gtk-3.0
htop
JetBrains
kdenlive-layoutsrc
kdenliverc
kglobalshortcutsrc
Kingsoft
klanguageoverridesrc
kmixrc
kwalletrc
lazygit
libfm
libreoffice
llpp.conf
matplotlib
menus
mimeapps.list
Motrix
mpv
navicat
neofetch
netease-cloud-music
pavucontrol.ini
pcmanfm
Pencil
picom.conf
polybar
Postman
procps
pulse
QtProject.conf
qv2ray
ranger
sogoupinyin
teamviewer
todesk
Trolltech
Trolltech.conf
Typora
Unknown Organization
uTools
variety
VirtualBox
vlc
xfce4
XMind
yay
SweetScape
krdcrc
remmina

